:root {
    --font-fam: 'Borel', cursive;
    --font-colo-h: #4a204a;
    --position-first-card:105rem;
    --position-second-card:120rem;
  }
#logo{
    width: 13%;
    border-radius: 50%;
}
header{
    display: flex;
    margin-top: -8px;
    width: 100%;
    position: fixed;
    box-shadow: 2px 5px 2px rgba(0,0,0,0.3);
    background: rgba(255, 255, 255, 255);
    z-index: 100;
}
#list{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-left: 2rem;
}

html {
    scroll-behavior: smooth;
}
nav {
    
    display: flex;
    justify-content: space-between;
    padding: 0rem 4rem;
    width: 50%;
}
.first-section{
    display: flex;
    justify-content: space-around;
    height: 30%;
    padding-top: 8rem;
}
.section{
    padding: 2rem;
    
}
#name{
    margin-block: 2%;
    font-family: 'Borel', cursive;
    color: var(--font-colo-h);
    font-size: 2rem;
}
.imgg2{
    width: 27%;
    height: 24rem;
    margin-block: 3%;

}
@keyframes taadaa { 
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.section{
    animation: taadaa 5s ;
    animation-fill-mode: forwards;
}
#intro{
    margin-top: 3%;
    font-family: 'Borel', cursive;
    
    

}
#aboutme{
    width: 28%;
    margin-top: 3.5%;
}
.fa-brands {   
     
    padding: 0.9rem;
    border-radius: 60%; 
} 
.fa-x-twitter {  
    margin: 1rem;
    background: black;
    color: white;
    
}
.fa-linkedin {  
    margin: 1rem;
    background: #0a66c2;
    color: white;
    
    
}    
.fa-github {  
    margin: 1rem;
    background-color:black;
    color: white;
   
} 
button{
    height: 9%;
    width: 30%;
    background: #826082;
    color: aliceblue;
    border: none;
    border-radius: 4%;
    box-shadow: 2px 5px 2px rgba(0,0,0,0.3);
}
button:active{
    background-color: rgb(123, 180, 17);
}


@keyframes motion {
    20%   {left:0px; top:0px;}
    100%  { left:150px; top:0px;}
    
}
#imgg3{
    position: relative;
    animation-name: motion;
    animation-duration: 4s;
    width: 27%;
    height: 24rem;
    margin-block: 3%;
    animation-fill-mode: forwards;
}
@keyframes motion2 {
    20%   {right:0px; top:0px;}
    100%  {right:150px; top:0px;}
    
}
.mywork{
    position: relative;
    animation-name: motion2;
    animation-duration: 4s;
    text-align: right;
    margin-block: 3%;
    animation-fill-mode: forwards;
}
.mywork1{
    text-align: left;
    font-family: var(--font-fam);
}
.name{
    color: var(--font-colo-h)
}
#second-section{
    display: flex;
    justify-content: space-between;
}
.checked {
    color: gold;
    
}
.poficiency{
    color: var(--font-colo-h);
    
}
.pro{
    font-family: var(--font-fam);
}
.pro2{
    margin: 6% 0% 5% 10%;
}
.sours{
    background: white;
    
    padding: 0rem 2rem 2rem;
    box-shadow: 7px 5px 2px 5px rgba(0,0,0,0.3);
    margin-bottom: 1rem;
    width: 35%;
    height: 27%;
}
.projects{
    display: flex;
    justify-content: space-evenly;
    
}
.sours:hover {
    background-color: rgb(164, 164, 160);
}
.cir-ache{
    width: 25%;
    height: 27%;
    background: white;
    box-shadow: 7px 5px 2px 5px rgba(0,0,0,0.3);

}
.cir-ache:hover{
    background-color: rgb(164, 164, 160);
}
.cir-ache2{
    width: 11rem;
    height: 13rem;
    margin-block: 3%;
    padding-left: 4rem;
}
.cir-ache2:hover{
    width: 30rem;
    height: 32rem;
    padding-left: 0rem;
}
.name-of-cert{
    text-align: center;
}
footer{
    padding-top: 2rem ;
    padding-bottom: 2rem ;
    margin-top: 10rem;
    text-align: center;
    background:  rgb(164, 164, 160);
}